

body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#373B6E, #B33C86);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

h1 {
    margin: 20px 0 20px 0;
    background: #ef9e07;
    padding: 5px 10px;
    border-radius: 5px;
}
#serious-lucy-img {
    width: 200px;
    border-radius: 20%;
    border: 5px solid #B33C86;
    margin-bottom: 10px;
}

#bday {
    background: #ef9e07;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

#anni {
    margin: 0;
    border: 5px dotted #ef9e07;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
    color:#ef9e07;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 350px;
    background-image: url("images/gift-box.png");
    background-size: cover;
}

#happy:hover {
    background-image: url("images/lets-go.gif");
}

#too-cute:hover {
    background-image: url("images/too-cute.gif");
}

#perfection:hover {
    background-image: url("images/perfection.gif");
}

#cuddly:hover {
    background-image: url("images/cuddly.gif");
}

#frenchie:hover {
    background-image: url("images/flying-frenchie.gif");
}

#footer {
    font-style: italic;
    width: 300px;
    margin: 40px auto 20px;
}

a {
    color: #ef9e07;
}
